 {%extends 'base.html'%} {%block body%}
<style>
    a {
        flex: auto;
    }
    
    thead {
        margin-top: 20
    }
    
    tr {
        display: block;
        margin-bottom: 1.5rem;
        padding: 1rem 0.5rem 0.5rem 1rem;
        border-radius: 20px;
        background-color: transparentize( white, 0.15);
        box-shadow: 0 0 1rem transparentize( black, 0.9);
        flex: 1;
        flex-direction: row;
    }
    
    tr:hover {
        background-color: yellow;
    }
    
    tr:hover td {
        background-color: yellow;
        /* or #000 */
    }
    
    td {
        display: inline-block;
        margin: 0 0.5rem 0.5rem 0;
        padding: 0.5rem;
        text-align: left;
        background-color: white;
        border: 1px solid transparentize( #58C25F, 0.5);
        flex: 1;
        flex-direction: row;
    }
    
    td:hover {
        background-color: black;
        color: blue;
    }
</style>

<div class="button-group">

    <!---this name shoudl be same as in display urls--->
    <a href="{% url 'display_diamonds' %}" class="btn btn-danger btn-md" role="button">diamonds</a>
    <a href="{% url 'add_diamonds' %}" class="btn btn-warning btn-md" role="button">+</a>

    <a href="{% url 'display_earrings' %}" class="btn btn-danger btn-md" role="button">earrings</a>
    <a href="{% url 'add_earrings' %}" class="btn btn-warning btn-md" role="button">+</a>

    <a href="{% url 'display_rings' %}" class="btn btn-danger btn-md" role="button">rings</a>
    <a href="{% url 'add_rings' %}" class="btn btn-warning btn-md" role="button">+</a>

</div>

<h4>
    All current {{header}}
</h4>
<table>
    <thead>
        <tr>
            <th>
                Id
            </th>

            <th>
                Type
            </th>

            <th>
                Cost
            </th>

            <th>
                Status
            </th>

            <th>
                Issues
            </th>
        </tr>
        <br>


        <!-- type = models.CharField(max_length=100, blank=False)  # name of column
    price = models.IntegerField()
    choice = (('AVAILABLE', 'Item ready to be sold'), ('SOLD',
                                                       'Item sold'), ('In production', 'Item in manufacturing'))  # drop down options
    status = models.CharField(
        max_length=100, choices=choice, default="not available")  # set up drop down options
    issues = models.CharField(max_length=100, default="no stuff") -->

        <!-------this names shoudl be exactly same to the one mentioend in models files---->
        <tbody style="flex-direction: row">
            {% for item in items %}
            <tr>
                <td>
                    {{ item.id }}

                </td>
                <td>
                    {{ item.type }}

                </td>
                <td>
                    {{ item.price }}
                </td>
                <td>
                    {{ item.status }}

                </td>
                <td>
                    {{ item.issues }}

                </td>
                {% if header|lower == "diamonds" %}
                <td>
                    <div>
                        <a href="{% url 'edit_diamonds' item.id %}" class="btn btn-primary btn-sm" role="button">Edit</a>
                    </div>
                    <br>
                    <div>
                        <a href="{% url 'delete_diamonds' item.id %}" class="btn btn-primary btn-sm" role="button">Delete</a>
                    </div>
                </td>
                {% elif header|lower == "rings" %}
                <td>
                    <div>
                        <a href="{% url 'edit_rings' item.id %}" class="btn btn-primary btn-sm" role="button">Edit</a>
                    </div>
                    <br>
                    <div>
                        <a href="{% url 'delete_rings' item.id %}" class="btn btn-primary btn-sm" role="button">Delete</a>
                    </div>
                </td>
                {% else %}
                <td>
                    <div>
                        <a href="{% url 'edit_earrings' item.id %}" class="btn btn-primary btn-sm" role="button">Edit</a>
                    </div>
                    <br>

                    <div>
                        <a href="{% url 'delete_earrings' item.id %}" class="btn btn-primary btn-sm" role="button">Delete</a>
                    </div>
                </td>

                {% endif %}
            </tr>

            {% endfor %}

        </tbody>
    </thead>

</table>

{%endblock%}